<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perimevera Store Landing Page</title>
  <link rel="stylesheet" href="../static/landingPage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
<!-- Navbar -->
<div class="BigMama">
  <div class="Logocontainer">
    <a href="landingPage.html"><img src="../static/logoPrimevera.png" alt="Perimevera Logo"></a>
  </div>

  <div class="navbar">
    <a href="landingPage.html">Home</a>
    <a href="shopPage.html">Shop All</a>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="navbar-icons">
      <i class="fa-solid fa-cart-shopping fa-lg"></i>
      <i class="fa-solid fa-clipboard-list fa-lg" style="margin-top: -3px;"></i>
    </div>
  </div>

  <div class="accountCont">
    <i class="fa-solid fa-user fa-lg"></i>
    <a href="#">Account</a>
  </div>
  
</div>

  <!-- Hero Section -->
  <div class="hero">
    <img src="../static/new balance_brickwall_bg.jpg" alt="Banner">
    <div class="hero-text">
      <h1>Shop Smarter, Live Better with Perimevera!</h1>
      <a href="shopPage.html" class="button">Shop Now</a>
    </div>
  </div>
  
  <!-- Categories Section -->
  <div class="scroll-container">
    <button id="scroll-left-cat" class="scroll-button" style="display: none;">&#9664;</button>
      <div class="categories">
        <h2>Shop Our Top Categories</h2>
        <div class="category-list">
          <div id="Handbag" class="category-item">
            <h3>Hand Bag</h3>
          </div>
          <div id="Book" class="category-item">
            <h3>Books</h3>
          </div>
          <div id="Tech" class="category-item">
            <h3>Tech</h3>
          </div>
          <div id="Shoes" class="category-item">
            <h3>Shoes</h3>
          </div>
          <div id="Furniture" class="category-item">
            <h3>Furniture</h3>
          </div>
          <div id="Fashion" class="category-item">
            <h3>Fashion</h3>
          </div>
          <div id="Skincare" class="category-item">
            <h3>Skincare</h3>
          </div>
          <div id="Sports" class="category-item">
            <h3>Sports</h3>
          </div>
        </div>
      </div>
    <button id="scroll-right-cat" class="scroll-button">&#9654;</button>
  </div>

  <!-- Deals Section -->
  <div class="scroll-container">
    <button id="scroll-left-deals" class="scroll-button" style="display: none;">&#9664;</button>
      <div class="deals">
        <h2>Today's Best Deals For You!</h2>
        <div class="deal-list">
          <div class="deal-item">
            <img src="../static/chair.png" alt="Modern Chair">
            <p>Modern Chair</p>
            <p><b>RM 800.00</b></p>
          </div>
          <div class="deal-item">
            <a href="#">
              <img src="../static/blackHB.jpg" alt="Handbag">
            </a>
            <a href="#">
              <p>GS Leather Sling Bag</p>
            </a>
            <p><b>RM 49.99</b></p>
          </div>
          <div class="deal-item">
            <a href="product2.html">
              <img src="../static/monitor.jpg" alt="Monitor">
            </a>
            <a href="product2.html">
              <p>Acer Monitor 23.8"</p>
            </a>
            <p><b>RM 349.00</b></p>
          </div>
          <div class="deal-item">
            <img src="../static/menJacket.webp" alt="Lightweight Hood">
            <p>Lightweight Hood Jacket</p>
            <p><b>RM 220.00</b></p>
          </div>
          <div class="deal-item">
            <img src="../static/airpod.jpg" alt="AirPods Pro 2">
            <p>AirPods Pro 2</p>
            <p><b>RM 1099.00</b></p>
          </div>
          <div class="deal-item">
            <img src="../static/dessini_airfryer-whitebg.png" alt="Dessini Airfryer">
            <p>Dessini Airfryer 1500W</p>
            <p><b>RM 399.00</b></p>
          </div>
          <div class="deal-item">
            <img src="../static/harry_potter_collection-whitebg.png" alt="HP Books">
            <p>Harry Potter Full Collection</p>
            <p><b>RM 250.00</b></p>
          </div>
        </div>
      </div>
    <button id="scroll-right-deals" class="scroll-button">&#9654;</button>
  </div>

  <div class="copyright">
    <p>&copy; 2024 Perimevera. All rights reserved.</p>
  </div>
  
<script src="../static/landingPage.js"></script>
</body>
</html>
